option_settings:
    aws:elasticbeanstalk:container:tomcat:jvmoptions:
        JVM Options: ""
        Xms: 1024m
        Xmx: 8g
    aws:elb:listener:8000:
        InstancePort: '8000'
        InstanceProtocol: HTTP
        ListenerEnabled: 'true'
        ListenerProtocol: HTTP
        SSLCertificateId: null