option_settings:
    AWSEBEC2LaunchTemplate.aws:ec2:vpc:
        AssociatePublicIpAddress: 'true'
    aws:ec2:vpc:
        ELBScheme: public
        ELBSubnets: subnet-05be6f4c26462db30,subnet-02c3adff0b667086a
        Subnets: subnet-05be6f4c26462db30,subnet-02c3adff0b667086a
        VPCId: vpc-07c744597c34bf9f4