
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/example/
/META-INF/
/WEB-INF/
/.gitignore
/favicon-16x16.png
/favicon-32x32.png
/index.html
/oauth2-redirect.html
/swagger-ui-bundle.js
/swagger-ui-bundle.js.map
/swagger-ui-es-bundle-core.js
/swagger-ui-es-bundle-core.js.map
/swagger-ui-es-bundle.js
/swagger-ui-es-bundle.js.map
/swagger-ui-standalone-preset.js
/swagger-ui-standalone-preset.js.map
/swagger-ui.css
/swagger-ui.css.map
/swagger-ui.js
/swagger-ui.js.map
/vivo-proxy-2.0.yaml
/vivo-proxy.yaml
