
<settings>
    <profiles>
        <profile>
            <id>localhost</id>
            <properties>
                <skipTests>true</skipTests>
                <webapp.depl>webapp-localhost</webapp.depl>
            </properties>
        </profile>
        <profile>
            <id>aws-dev</id>
            <properties>
                <skipTests>true</skipTests>
                <skipJetty>true</skipJetty>
                <aws.skipCopy>false</aws.skipCopy> 
                <webapp.target>/var/lib/tomcat/webapps/ROOT</webapp.target>
                <webapp.depl>webapp-aws-dev</webapp.depl>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>localhost</activeProfile>
    </activeProfiles>
</settings>
