
<settings>
    <profiles>
        <profile>
            <id>localhost</id>
            <properties>
        <webapp.depl>webapp-localhost</webapp.depl>
            </properties>
        </profile>
        <profile>
            <id>aws-dev</id>
            <properties>
        <webapp.depl>webapp-aws-dev</webapp.depl>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>localhost</activeProfile>
    </activeProfiles>
</settings>
